.wrapper{
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	height: 100%;
	max-width: 560px;
	width: 100%;

	
	margin: 0 auto;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}