@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

$default-fount: 'Rubik', sans-serif;

$White: #F1E8E8;
$Blue: rgb(36, 76, 179);
$Gray: rgb(175, 177, 183);
$dark-blue: rgb(17, 21, 40);
$bx-blue: 0 20px 5px rgba($Blue, 0.25);
$mobile: 480px;

$radius: 0.7rem;
$gap: 30px;